@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply transition duration-300 dark:bg-neutral-800;
  }

  input:focus,
  select:focus,
  a:focus,
  button:focus {
    @apply outline-dashed outline-2 outline-violet-500 dark:outline-violet-200;
  }
}

:root {
  --font-size: serif;
}

body {
  font-family: var(--font-size);
}
